body {
	background-color: #637eaf;
	color: #020e36;
}
.blue-button {
	background: #020e36;
}
.white-button {
	background: #ffffff;
	color: #000000;
}
.brown-button {
	background: #d0d7e2;
	color: #2D3657;	
}
.btn:active,
.btn:hover,
.blue-button:active,
.white-button:active,
.brown-button:active,
.blue-button:hover,
.white-button:hover,
.brown-button:hover {
    background-color: #4255cf!important;
    color: #ffffff!important;
}
.btn:focus {
	background-color: transparent;
	color: #4d7bf3;
	border-color: #4d7bf3;
	box-shadow: none;
}
.transparent-skybutton {
	background-color: transparent;
	border-color: #4d7bf3;
    color: #4d7bf3;
}
.transparent-skybutton.active {
	background-color: #4d7bf3!important;
    border-color: #4d7bf3!important;
    color: #ffffff!important;
}
.w-80 {
	width: 80%;
}
.w-90 {
	width: 90%;
}
.w-100px {
	width: 100px;
}